## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
doc
pkg
.bundle
Gemfile.lock

## PROJECT::SPECIFIC

## Rubymine
.idea/*

# ctags
tags
vendor/cache/

# rspec

.spec-examples.txt